<% include ../layout %>
<table class="uk-table uk-table-hover">
    <thead>
        <tr>
            <th>Casa</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        <% users.forEach(user => { %>
            <tr>
                <td><%= user.home_number %></td>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td>
                    <button class="uk-button-primary">Editar</button>
                    <button class="uk-button-danger">Deletar</button>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>
<% include ../footer %>